<?xml version="1.0"?>
<launch>

    <!-- RemoveWall -->
    <node pkg="simulation" name="removewall" type="pcl_tool" output="screen">
        <param name="input_topic" value="/points_no_ground"/>
        <param name="output_topic" value="/points_no_wall"/>
        <!-- <param name="compare_pcd_file" value="$(find simulation)/world/map2.pcd"/> -->
        <param name="compare_pcd_file" value="$(find ttdc_fix_sensor)/map/IB2F.pcd"/>
        <param name="resolution" value="0.6"/>
    </node>

   

</launch>