<?xml version="1.0"?>
<launch>
    <arg name="input_topic" default="/human_teleop/active" />
    <arg name="output_topic" default="/gazebo/set_model_state" />
    <arg name="model_name" default="h1" />
    <arg name="route_file" default="" />
    <arg name="input_csv_file_path" default="$(find simulation)/route/human2.csv" />
    <arg name="Hz" default="10"/>
    
    
    <node pkg="simulation" name="teleop_node" type="human_teleop" output="screen">
        <param name="input_topic" value="$(arg input_topic)" />
        <param name="output_topic" value="$(arg output_topic)" />
        <param name="model_name" value="$(arg model_name)" />
        <param name="input_csv_file_path" value="$(arg input_csv_file_path)" />
        <param name="Hz" value="$(arg Hz)"/>
    </node>

</launch>