<?xml version="1.0"?>
<launch>

       
    <!-- Map Loader -->
    <include file="$(find map_file)/launch/points_map_loader.launch">
        <arg name="scene_num" value="noupdate"/>
        <arg name="path_area_list" value="None"/>
        <arg name="path_pcd" value="$(find simulation)/world/map2.pcd"/>
    </include>
    
    

</launch>