<?xml version="1.0"?>
<launch>

       
    <!-- Ndt Matching -->
    <include file="$(find lidar_localizer)/launch/ndt_matching.launch">
        <arg name="method_type" value="0"/>
        <arg name="use_odom" value="False"/>
        <arg name="use_imu" value="False"/>
        <arg name="imu_upside_down" value="False"/>
        <arg name="imu_topic" value="/imu_raw"/>
        <arg name="get_height" value="False"/>
        <arg name="output_log_data" value="False"/>
    </include>

</launch>